# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
log*

*/__pycache__/*
/KnowledgeServer/app/__pycache__/*
/KnowledgeServer/app/LOCALDB/images/*
KnowledgeServer/app/LOCALDB/images/*
# LOCALDB/*
# LOCALDB

*.db
*/images/*

node_modules

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
 
# don't include my api key!! :3
.env

/backend/database.db
backend/database.db


.cache
KnowledgeServer/app/generated_maps/*
KnowledgeServer/app/jobs/__pycache__/*
LOCALDB/staging/*
*.json